  <footer class="footer">

    <section class="footer__links">
      <h5>Volg ons</h5>
      <a href="#">Instagram</a>
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">YouTube</a>
    </section>
    <section class="footer__links">
      <h5>Verder lezen?</h5>
      <a href="#">Over ons</a>
      <a href="#">Overzicht</a>
      <a href="#">FAQ</a>
      <a href="#">Contact</a>
    </section>
    <section class="footer__links">
      <h5>Ons beleid</h5>
      <a href="#">Privacy policy</a>
      <a href="#">Voorwaarden</a>
      <a href="#">Feedback</a>
    </section>

  </footer>
  <script src="/scripts/script.js"></script>
</body>
</html>