<!-- Hier word de header geinclude -->
<%- include('./partials/head') %>

<main>
  <article class="faq__intro">
    <div>
      <h1>Veelgestelde vragen</h1>
      <p>Welkom bij de FAQ-pagina van WestConnect! Hier vind je antwoorden op enkele veelgestelde vragen over ons initiatief om mensen in de buurt met elkaar te verbinden. Heb je nog andere vragen? Aarzel dan niet om <a href="/contact">contact</a> met ons op te nemen.</p>
    </div>
    <img src="/assets/faq.svg" alt="Two people and a question mark.">
  </article>
  <section class="faq__container">
    <details>
        <summary class="faq__question">Wat is WestConnect?</summary>
        <p class="faq__answer">WestConnect is een initiatief om mensen in de buurt met elkaar te verbinden. Het stelt gebruikers in staat om initiatieven te delen en elkaar te helpen.</p>
    </details>
    <details>
        <summary class="faq__question">Hoe kan ik een initiatief posten?</summary>
        <p class="faq__answer">Om een initiatief te posten, ga naar de overzichtspagina en klik op de knop "Initiatief posten". Volg daarna de instructies om je initiatief te delen met de gemeenschap.</p>
    </details>
    <details>
        <summary class="faq__question">Kan ik alleen lokale initiatieven posten?</summary>
        <p class="faq__answer">Ja, WestConnect richt zich op Amsterdam West. We moedigen alleen initiatieven aan die relevant zijn voor mensen in jouw buurt.</p>
    </details>
    <details>
        <summary class="faq__question">Hoe kan ik contact opnemen met WestConnect?</summary>
        <p class="faq__answer">Voor vragen, suggesties of problemen kun je contact met ons opnemen via het contactformulier op onze website. We proberen zo snel mogelijk te reageren.</p>
    </details>
    <details>
      <summary class="faq__question">Kan ik mijn accountgegevens wijzigen?</summary>
      <p class="faq__answer">Ja, je kunt je accountgegevens op elk gewenst moment wijzigen door in te loggen op je account en naar de pagina "Mijn account" te gaan. Hier kun je je profiel bijwerken, wachtwoord wijzigen, en andere accountinstellingen aanpassen.</p>
    </details>
    <details>
        <summary class="faq__question">Hoe kan ik zien welke initiatieven er in mijn buurt zijn?</summary>
        <p class="faq__answer">Op de overzichtspagina van WestConnect kun je filteren op locatie. Selecteer simpelweg jouw buurt of postcode en je zult alle relevante initiatieven in jouw omgeving kunnen bekijken.</p>
    </details>
    <details>
        <summary class="faq__question">Is WestConnect gratis te gebruiken?</summary>
        <p class="faq__answer">Ja, WestConnect is gratis voor alle gebruikers. We geloven in het belang van lokale gemeenschappen en streven ernaar om onze diensten toegankelijk te maken voor iedereen.</p>
    </details>
</section>
</main>

<!-- Hier word de foot geinclude -->
<%- include('./partials/foot') %>