<!-- Hier word de header geinclude -->
<%- include('./partials/head') %>

<main>

  <article class="about__article">
    <section class="about__article--text">
      <h2>Ons verhaal</h2>
      <p>Welkom bij WestConnect, waar verbinding de sleutel is tot positieve verandering in Amsterdam West. Ons verhaal begint met een eenvoudig idee: het samenbrengen van gemeenschappen, initiatieven en stichtingen om een hechtere en veerkrachtigere buurt te creëren.</p>
    </section>
    <img src="/assets/street.svg" alt="A street with green plants">
  </article>

  <article class="about__article">
    <section class="about__article--text">
      <h2>Onze Waardes</h2>
      <p>Bij WestConnect zijn onze waarden het fundament van alles wat we doen. We geloven in inclusiviteit, diversiteit en gelijkheid als essentiële bouwstenen voor een bloeiende gemeenschap. Onze toewijding aan transparantie, respect en duurzaamheid vormt de kern van onze missie om een omgeving te creëren waarin iedereen zich gehoord, gesteund en gewaardeerd voelt.</p>
    </section>
    <img src="/assets/neighbours.svg" alt="Two neighbours waving">
  </article>

  <article class="about__article">
    <section class="about__article--text">
      <h2>Onze Crew</h2>
      <p>Ontmoet het hart en de ziel van WestConnect: onze betrokken en gepassioneerde crew. Samengesteld uit individuen met diverse achtergronden en expertisegebieden, delen we een gemeenschappelijke visie voor een veerkrachtiger en inclusiever Amsterdam West. Met een mix van talent, vastberadenheid en creativiteit werken we zij aan zij om bruggen te bouwen, kansen te creëren en positieve verandering te stimuleren.</p>
    </section>
    <img src="/assets/team_spirit.svg" alt="A team discussing">
  </article>

</main>

<!-- Hier word de foot geinclude -->
<%- include('./partials/foot') %>