<!-- Hier word de header geinclude -->
<%- include('./partials/head') %>

<main class="service__aanmelden">

<img src="https://cdn.dribbble.com/users/126069/screenshots/2253470/media/dd1feff367278b860b267479d0be5945.gif" />
<h2>Je initiatief zal geplaatst worden.</h2>
<a href="/overzicht">Terug naar overzicht!</a>

</main>

<!-- Hier word de foot geinclude -->
<%- include('./partials/foot') %>