/* ------------- Root & Font ------------- */

:root {
  --base--white: #fff;
  --base--grey-97: #f8f8f8;
  --base--grey-62: #aaa;
  --base--grey-19: #4a4a4a;
  --base--black: #202020;

  --primary--green-accent: #41bd66;
  --secondary--green-accent: #a0d7b0;
  --light--green-accent: #e3ebdd;
}

/* ------------- Elements ------------- */

details {
  margin: 1em 0;
  padding: 1em;
  background-color: var(--primary--green-accent);
  border-radius: 8px;
  color: var(--base--white);
}

/* ------------- FAQ ------------- */

.faq__intro h1 {
  font-size: 1.8em;
  margin-top: 0;
}

.faq__intro a {
  color: #41bd66;
}

.faq__intro a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.faq__intro img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq__container, .faq__intro {
  padding: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.faq__question {
  font-weight: bold;
  font-size: 1.2em;
}

.faq__answer {
  margin: 0;
  margin-top: 1em;
}

/* ------------- Media Queries ------------- */

@media screen and (min-width: 768px) {
  details {
    margin: 2em 0;
  }

  .faq__intro {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .faq__intro p {
    font-size: 1.2em;
  }

  .faq__intro img {
    width: 40%;
    margin-left: 2em;
  }
  
  .faq__container, .faq__intro {
    padding: 1em 4em;
  }
}

@media screen and (min-width: 1099px) {

  .faq__intro h1 {
    font-size: 2.2em;
  }

  .faq__intro p {
    max-width: 40em;
  }

  .faq__container p {
    max-width: 50em;
  }

  .faq__container, .faq__intro {
    padding: 1em 10em;
  }
}

@media screen and (min-width: 1599px) {
  .faq__container, .faq__intro {
    padding: 2em 14em;
  }
}

@media screen and (min-width: 1799px) {
  .faq__container, .faq__intro {
    padding: 2em 26em;
  }
}