/* ------------- Root & Font ------------- */

:root {
  --base--white: #fff;
  --base--grey-97: #f8f8f8;
  --base--grey-62: #aaa;
  --base--grey-19: #4a4a4a;
  --base--black: #202020;

  --primary--green-accent: #41bd66;
  --secondary--green-accent: #a0d7b0;
  --light--green-accent: #e3ebdd;
}

/* -------------- Overzicht -------------- */

.overzicht__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 80em;
  margin: 0 auto;
}

.overzicht__service {
  position: relative;
  width: 18em;
  height: 30em;
  margin: 2em 0;
  border-radius: 8px;
  border: 2px solid var(--base--grey-97);
  background-color: var(--base--white);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.overzicht__service img {
  width: 18em;
  height: 10em;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.overzicht__service h2 {
  font-size: 1.2em;
  margin: 0.4em 0;
}

.overzicht__service--tekst {
  padding: 0.6em 1em;
}

.overzicht__button--container {
  display: flex;
}

.overzicht__button {
  width: 14em;
  border-radius: 8px;
  padding: 0.6em;
  margin: 1em auto;
  text-align: center;
  color: var(--base--white);
  background-color: var(--primary--green-accent);
}

.overzicht__like--form {
  display: none;
}

.heart-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--base--white);
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  top: 14px;
  left: 14px;
  padding: 0 10px 0 6px;
}

.heart-checkbox span {
  color: var(--base--grey-19);
  font-size: 24px;
}

.heart-checkbox input {
  opacity: 0;
  cursor: pointer;
  display: none;
}

.heart-checkbox i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-checkbox .fa-heart {
  font-size: 22px;
  height: 40px;
  width: 40px;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--base--white);
  border-radius: 8px;
  transition: ease-in-out 0.2s;
}

.heart-checkbox input:checked + i.fa-heart {
  color: var(--primary--green-accent);
}

.heart-checkbox:hover i.fa-heart {
  color: var(--base--grey-19);
}

.heart-checkbox-error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  height: 40px;
  width: 40px;
  color: var(--base--black);
}

/* -------------- Media Queries -------------- */

@media screen and (min-width: 768px) {
  .overzicht__service {
    margin: 2em;
  }

  .overzicht__button {
    font-size: 1.2em;
    margin: 2em auto;
  }
}

@media screen and (min-width: 1099px) {
  .overzicht__container {
    max-width: 68em;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1599px) {

}

@media screen and (min-width: 1799px) {

}